<h1>Course Days</h1>

<% @course_days.each do |course_day| %>
  <ul>
    <li>
      <form id="course_day_edit<%= course_day.id %>" action="/course_days/<%= course_day.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input id="date" name="course_day[date]" type="date" value="<%= course_day.date %>">
        <select form="course_day_edit<%= course_day.id %>" name="course_day[course_id]">
          <% @courses.each do |course| %>
            <% course.id == course_day.course.id ? selected_course = "selected" : selected_course = '' %>
            <option value ="<%=course.id %>" <%= selected_course %>><%=course.name %></option>
          <% end %>
        </select>
        <button>Update</button>
        <a href="/course_days/<%= course_day.id %>" data-confirm="You Sure?" data-method="delete" rel="nofollow"><button>Delete</button></a>
      </form>
    </li>
  </ul>
<%end%>

<%= render('layouts/errors', :object => @course_day) %>

<form id="course_day_create" action="/course_days" method="post">
  <input id="date" name="course_day[date]" type="date">
  <select form="course_day_create" name="course_day[course_id]">
    <% @courses.each do |course| %>
      <option value ="<%=course.id %>"><%=course.name %></option>
    <% end %>
  </select>
  <button>Add</button>
</form>

